
.choicesContainer {
    background: linear-gradient(white, rgba(141, 141, 245, 0.619));
}

.myRow {
    margin-top: 5.2%;
}

.cardBody {
    /* background: linear-gradient(rgb(167, 153, 153), black); */
    /* color: #ffff; */
    font-weight: light;
    font-size: 200%;
    font-family: Lato;
}

.card {
    text-align: center;
    margin-bottom: 5%;
}

.choiceCardTitle {
    font-size: 200% !important;
    color: black
}

.choiceCardText {
    color: black;
}

.linkToChoice {
   text-decoration: 'none' !important;
}

/*///////////////grow on hover///////////////////////////*/

.growEffect {
    transition: all .2s ease-in-out;
}
.growEffect:hover {
    transform: scale(1.1)
}

/*//////////////////////////////////////////*/