.footerDiv{
    background:linear-gradient(rgba(103, 29, 164, 0.954), rgb(52, 0, 155));
    padding: 5%;
    font-size: 150%;
} 


.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}


.signature {
    color: rgba(247, 245, 245, 0.7);
    text-align: center;
    margin: 3% auto -2%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: rgba(247, 245, 245, 0.7);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: white;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
    margin: 25%
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-square:hover {
    color: #3e71df;
    transition: .3s;
}

.fa-twitter-square:hover {
    color: #36bced;
    transition: .5s;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.fa-linkedin:hover {
    color: #4c97a4;
    transition: .3s;
}

.rightsReservedAndPipe {
    color: rgba(247, 245, 245, 0.7);
}

/* ///////////////////////MEDIA QUERIES START//////////////////////////////// */



/* ///////////////////////MEDIA QUERIES START//////////////////////////////// */


/*Galaxy 5s*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	.footer-nav {
        font-size: 75%;
        font-weight: bold;
        padding-top: 7%;
    }

    .footer-nav li {
        margin-bottom: 15%;
    }

    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 12px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 3%;

    }

}

/*Samsung Galaxy S9 Media Queries (In terms of Mobile only)*/

@media only screen and (min-width: 360px) and (max-width: 767px) {
    .footer-nav {
        font-size: 75%;
        font-weight: bold;
        padding-top: 7%;
    }

    .footer-nav li {
        margin-bottom: 15%;
    }

    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 12px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 3%;

    }
}

/*iPhone XR*/
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
	.footer-nav {
        font-size: 75%;
        font-weight: bold;
        padding-top: 7%;
    }

    .footer-nav li {
        margin-bottom: 15%;
    }

    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 12px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 3%;

    }
}

/*iPhone 5*/
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2) {

    .footer-nav {
        font-size: 55%;
        font-weight: bold;
        padding-top: 12%;
    }

    .footer-nav li {
        margin-bottom: 25%;
    }

    
    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 12px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 5%;
    }	
}

/*iPhone 6/7/8*/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 

    .footer-nav {
        font-size: 75%;
        font-weight: bold;
        padding-top: 7%;
    }

    .footer-nav li {
        margin-bottom: 15%;
    }

    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 5px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 3%;

    }
}


/*iPhone 6+/7+/8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    
    .footer-nav {
        font-size: 75%;
        font-weight: bold;
        padding-top: 7%;
    }

    .footer-nav li {
        margin-bottom: 15%;
    }

    .rightsReservedAndPipe {
        display: none;
    }

    .fa-twitter-square {
        margin-right: 12px;
    }

    .signature img {
        min-width: 20%;
    }

    .signature {
        font-size: 80%;
        margin-left: 3%;

    }

}


/*iPhone X*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {

        .footer-nav {
            font-size: 75%;
            font-weight: bold;
            padding-top: 7%;
        }
    
        .footer-nav li {
            margin-bottom: 15%;
        }
    
        .rightsReservedAndPipe {
            display: none;
        }
    
        .fa-twitter-square {
            margin-right: 12px;
        }
    
        .signature img {
            min-width: 20%;
        }
    
        .signature {
            font-size: 80%;
            margin-left: 3%;
    
        }
}



/*---LAPTOPS AND ABOVE---*/

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

   
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    

}

/* ----------- Wide Screens ----------- */


@media only screen  and (min-width : 1224px) {
    
}
